body
{
    background-color: rgb(13, 13, 109);
}
.header
{
    width: 100%;
    background-color:brown;
    margin-top: 20px;
    border-radius: 10px;
    opacity:0.8;
}
.header h1
{
    padding-top: 10px;
    color: white;
    margin-left: 20px;
    padding-bottom: 20px;

}
.row
{
    padding: 10px;
}
.small-col
{
    
    height: 350px;
    background-color: rgb(0, 165, 119);
    border-radius: 20px;
    opacity:0.8;
    padding-left: 30px;
    padding-top: 20px;
}
.large-col
{
    width: 72%;
    height: 650px;
    background-color: black;
    border-radius: 20px;
    margin-left: 35px;
    color: white;
    opacity:0.8;
    padding-top: 10px;
}
.c1
{
    color: blue;
}
a
{
    color: aqua;
}
.footer
{
    background-color: rgb(128, 127, 127);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    opacity:0.8;
}
.footer p
{
    padding-bottom: 20px;
    color: white;
    margin-left: 20px;
}
